@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

@import 'color-helpers';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap4-card-tables/src/bootstrap4-card-tables";
@import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker';
@import '~select2/dist/css/select2';
@import '~select2-theme-bootstrap4/dist/select2-bootstrap';
@import '~vue-loading-overlay/dist/vue-loading';

// Fontawesome
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
// @import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/duotone';

//FullCalendar
@import '~@fullcalendar/core/main';
@import '~@fullcalendar/daygrid/main';
@import '~@fullcalendar/timegrid/main';
@import '~@fullcalendar/bootstrap/main';
@import '~@fullcalendar/list/main';

//Summernote
@import '~summernote/dist/summernote-bs4.css';

/* HMS Custom CSS */

@import 'layout/header';
@import 'layout/navbar';
@import 'layout/footer';
@import 'layout/member-search';
@import 'layout/no-more-tables';

/*
 * Cards
 */
.card-auth {
  max-width: 350px;
  background-color: $light;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  svg {
    margin-bottom: 0.5rem;
  }
}

.card-columns {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

/*
 * override background for tempusdominus date pickers
 */
.datetimepicker-readonly {
  background-color: #fff !important;
  opacity: 1;
}
