@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

@import 'color-helpers';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2';
@import '~select2-theme-bootstrap4/dist/select2-bootstrap';
@import '~vue-loading-overlay/dist/vue-loading';

// Fontawesome
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/brands';

//FullCalendar
@import '~@fullcalendar/core/main';
@import '~@fullcalendar/daygrid/main';
@import '~@fullcalendar/timegrid/main';
@import '~@fullcalendar/list/main';
@import '~@fullcalendar/bootstrap/main';

/* HMS Custom CSS */

@import 'layout/header';
@import 'layout/navbar';
@import 'layout/footer';
@import 'layout/member-search';
@import 'layout/no-more-tables';

// SCSS for Vue Components
@import 'vue/_flash';
@import 'vue/_tool-calendar';

.btn-sm-spacing {
  margin-bottom: 0.10rem;
}

/*
 * Cards
 */
.card-auth {
  max-width: 350px;
  background-color: $light;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  svg {
    margin-bottom: 0.5rem;
  }
}
