@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

@import 'color-helpers';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2';
@import '~select2-theme-bootstrap4/dist/select2-bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/brands';

/* HMS Custom CSS */

@import 'layout/header';
@import 'layout/navbar';
@import 'layout/footer';
@import 'layout/member-search';
@import 'layout/no-more-tables';

.btn-sm-spacing {
  margin-bottom: 0.10rem;
}

/*
 * Cards
 */
.card-auth {
  max-width: 350px;
  background-color: $light;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  svg {
    margin-bottom: 0.5rem;
  }
}

// a custom card body which is designed to have an icon on the left in its own column
// sized to match an h3 card title at the top of the rest of the card
// .icon-card-body
//   .icon-card-icon
//     i.fa-icon
//   .icon-card-content
//     h3.card-title
//     content elements
.icon-card-body {
  @extend .card-body;
  @extend .d-flex;

  .icon-card-icon {
    @extend .h3;
  }

  .icon-card-content {
    @extend .ml-3;

    h3 {
      @extend .card-title;
    }
  }
}
