/*
 * Member search result styles
 */
.membersearch {
  .name {
    .fullname {
      font-weight: bold;
    }

    .username {
      font-style: italic;
    }
  }

  .email, .address, .paymentref {
    font-size: 0.8rem;
  }
}
