/*
 * Member search result styles
 */
.membersearch {
  .name {
    .fullname {
      font-weight: bold;
    }

    .username {
      font-style: italic;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  .email, .address, .paymentref, .discordUsername {
    font-size: 0.8rem;
  }
}
