// COLOURS
// ----------------------------------------------
$hackspace-green: #195905;
$hackspace-grey: #eeeeee;
$tool-induction-background-colour: #600;
$tool-maintenance-background-colour: #000;
$footer-background-colour: #444;
$footer-text-colour: #fff;
$footer-link-colour: #aae;
$header-background-colour: $hackspace-green;
$header-text-colour: $hackspace-grey;
$userbar-background-colour: $hackspace-grey;
$userbar-text-colour: #000;

$font-family-base: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;