// COLOURS
// ----------------------------------------------

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);


// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// HMS colours
$hackspace-green: #195905;
$hackspace-grey: #eeeeee;
$tool-induction-background-colour: #600;
$tool-maintenance-background-colour: #000;
$footer-background-colour: #444;
$footer-text-colour: #fff;
$footer-link-colour: #aae;
$header-background-colour: $hackspace-green;
$header-text-colour: $hackspace-grey;
$userbar-background-colour: $hackspace-grey;
$userbar-text-colour: #000;
$link-colour: $hackspace-green;
$link-hover-colour: #000;

$theme-colors: (
  primary: $hackspace-green,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$font-family-base: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;