@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Oxygen');

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2';
@import '~select2-theme-bootstrap4/dist/select2-bootstrap';

/* HMS Custom CSS */
.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

/*
 * Card component
 */
.card-body-padding {
  background-color: #F7F7F7;
  /* just in case there no content */
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

// a custom card body which is designed to have an icon on the left in its own column
// sized to match an h3 card title at the top of the rest of the card
// .icon-card-body
//   .icon-card-icon
//     i.fa-icon
//   .icon-card-content
//     h3.card-title
//     content elements
.icon-card-body {
  @extend .card-body;
  @extend .d-flex;

  .icon-card-icon {
    @extend .h3;
  }

  .icon-card-content {
    @extend .ml-3;

    h3 {
      @extend .card-title;
    }
  }
}

/*
 * Form styles
 */
.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  background-color: rgb(104, 145, 162);
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

.btn-sm-spacing {
  margin-bottom: 0.10rem;
}

.header-center {
  padding-top: 0.5%;

}

.with-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
}

.content {
  @extend .container-fluid;
  flex: 1;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

/*
 * Footer
 */
footer {
  @extend .container-fluid;
  background-color: $footer-background-colour;
  color: $footer-text-colour;
  font-size: 0.8rem;
}

.footer {
  @extend .row;
  text-align: center;

  ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

  }

  h5 {
    font-size: 18px;
    color: $footer-text-colour;
    font-weight: bold;
    margin-top: 30px;
  }

  a {
    color: $footer-link-colour;
    text-decoration: none;
  }

  a:hover, a:focus{
    color: $footer-link-hover-colour;
    text-decoration: none;
  }
}

.social-networks{
  @extend .col;
  text-align: center;
  padding-bottom: 10px;
  
  a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: $social-networks-colour;
    padding: 10px;
  }
  
  a:hover {
    text-decoration: none;
  }
}

/* 
 * Genral Links
 */
a {
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}

/*
 * Header
 */
header {
  @extend .container-fluid;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

.header {
  @include make-row();
  background-color: $header-background-colour;
  color: $header-text-colour;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h1 {
    margin: 0;
    text-shadow: $black 1px 1px 1px;
    font-size: 3rem;

    &.tiny-header {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  h2 {
    color: $hackspace-grey;
    margin: 0;
    text-shadow: $black 2px 2px 2px;

    &.big-header {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  #logo-path {
    fill: $hackspace-grey;
  }

  a {
    color: $header-text-colour;
  }
}

/*
 * NavBar
 */
.userbar {
  @extend .navbar;
  @extend .navbar-expand-md;
  @extend .justify-content-between;
  @extend .row;
  background-color: $userbar-background-colour;
  color: $userbar-text-colour;
}

/*
 * Tables
 */
// a table which doesn't have 100% width;
.table-noexpand {
  @extend .table;
  width: auto;
}

/*
 * Definition Lists
 */
dl > dt {
  @extend .h5;
}

/*
 * Member search result styles
 */
.membersearch {
  .name {
    .fullname {
      font-weight: bold;
    }

    .username {
      font-style: italic;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  .email, .address, .paymentref {
    font-size: 0.8rem;
  }
}
