@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Oxygen');

@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2';

$theme-colors: (
  primary: $hackspace-green,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

// button {
//   font-family: inherit;
// }

// h2 {
//   color: $hackspace-green;
// }

.with-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
}

// .content {
//     flex: 1;
//     margin-top: 2rem;
//     padding-bottom: rem-calc(20);
// }

// @include breakpoint(small only) {
//   .content {
//     padding-left: 1rem;
//     padding-right: 1rem;
//   }
// }

// @include breakpoint(medium) {
//   .content {
//     padding-left: 2rem;
//     padding-right: 2rem;
//   }
// }

// ul.nomarkers {
//     list-style-type: none;
//     margin-left: 0;
// }

.footer {
    background-color: $footer-background-colour;
    color: $footer-text-colour;
    padding-top: rem-calc(20);

    a {
        color: $footer-link-colour;
    }
}

header {
  @extend .container-fluid;
  padding: 0;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: $header-background-colour;
  color: $header-text-colour;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);

  h1 {
    margin: 0;
    text-shadow: $black 1px 1px 1px;
    font-size: 3rem;

    &.tiny-header {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  h2 {
    color: $hackspace-grey;
    margin: 0;
    text-shadow: $black 2px 2px 2px;

    &.big-header {
      font-weight: bold;
      font-size: 3rem;
    }
  }

  #logo-path {
    fill: $hackspace-grey;
  }

  a {
    color: $header-text-colour;
  }
  @include make-row();
}

.userbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .justify-content-between;
  background-color: $userbar-background-colour;
  color: $userbar-text-colour;
}

// // Foundation docs say it provides this class, but it doesn't seem to work
// .align-middle {
//     align-items: center;
// }

// /*
//  * Navigation classes and objects need to show/hide in the right circumstances
//  */
// @include breakpoint(small only) {
//   // In small screens, the main menu is hidden and the mobile menu is showable
//   #main-menu {
//     display: none;
//   }

//   // This selector must be more specific than the ID selector which hides the menu
//   #mobile-menu.show-mobile-menu {
//     display: block;
//   }
// }

// @include breakpoint(medium) {
//   // In medium+, the mobile menu's toggle button is hidden
//   .mobile-menu-button {
//     display: none;
//   }
// }

// // The default visibility of the mobile menu is hidden
// #mobile-menu {
//   display: none;
// }

// .no-js {
//  .submenu {
//    display: none;
//   }
// }



// // Spacing classes
// // ---------------
// // Utility classes for spacing things around in special circumstances

// .margin-top-small {
//   margin-top: 0.5rem;
// }

// // Form classes
// // ------------

// // a class for wrapping a form in when embedded in the middle of another page
// .form-container {
//   margin: 2rem;
// }

// .form-label {
//   @extend .columns;
//   @extend .small-12;
//   @extend .medium-3;
// }

// .form-control {
//   @extend .columns;
//   @extend .small-12;
//   @extend .medium-9;
// }

// /* Use form-tickbox-row when making rows of simple checkbox or radio toggles, like lists of permissions in roles.
//  * Markup is an input (checkbox or radio) and a label, inside a div.form-tickbox-row
//  */
// .form-tickbox-row {
//   display: flex;
//   align-items: center;

//   input {
//     margin: 0;
//     padding: 0;
//   }

//   label {
//     padding-left: 1rem;
//   }
// }

// .form-group {
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// .form-buttons {
//   @extend .columns;
//   @extend .small-12;
//   @extend .medium-9;
//   @extend .medium-offset-3;
//   margin-top: 1rem;

//   button {
//     margin-left: 0.25rem;
//     margin-right: 0.25rem;

//     &:first-child {
//       margin-left: 0;
//     }

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   a {
//     margin-left: 0.25rem;
//     margin-right: 0.25rem;

//     &:first-child {
//       margin-left: 0;
//     }

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }


// // Cookie consent pop-up
// // ---------------------

// .cookie-consent {
//   @extend .columns;
// }

// .cookie-consent__container {
//   @extend .callout;
//   @extend .secondary;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
// }

// .cookie-consent__agree {
//   @extend .button;
//   @extend .primary;
// }

// // Link colouring
// // --------------

// // create an a-specific class for each colour in the palette
// @each $name, $color in $foundation-palette {
//   a.#{$name} {
//     color: $color;
//   }
// }

// .menu {
//   li:not(.active) {
//     a:hover {
//       background-color: $menu-item-background-hover;
//     }
//   }
// }

// // Workaround for Foundation Reveal modal's tendency to make the scrollbar vanish and the backing page jump to the right when a model opens.
// @include breakpoint(medium) {
// 	/* The following prevent page jump (left->right) when reveal opens on a centered page with right scrollbar */
// 	body.is-reveal-open { 
// 	    overflow: visible !important;
// 	}
// 	.reveal-overlay {
// 		overflow: hidden;
// 	}
// }

// /*
//  * Member search result styles
//  */

// .membersearch {
//   .name {
//     .fullname {
//       font-weight: bold;
//     }

//     .username {
//       font-style: italic;

//       &::before {
//         content: '(';
//       }

//       &::after {
//         content: ')';
//       }
//     }
//   }

//   .email, .address, .paymentref {
//     font-size: 0.8rem;
//   }
// }

// /*
//  * Definition Lists
//  */

// // slightly modify the spacing on the Foundation default definition lists, so that there's more space on top of a <dt>
// dt {
//  margin-top: 0.6rem;
// }


// /*
// * Links page
// */

// .link-name {
//   font-size: 1.5rem;
//   font-weight: bold;
// }
