/*
 * TemporaryAccess.vue
 */

/*
 * Coloured bookings
 */
@each $color, $value in $theme-colors {
  .temporary-booking-#{$color} {
    border-color: $value;
    background-color: $value !important;
    &.not-editable {
      background: repeating-linear-gradient(
          -45deg,
          $value,
          $value 10px,
          tint($value, 10%) 10px,
          tint($value, 10%) 20px
      );
    }
  }
}
